﻿@{
    ViewData["Title"] = "Home";
    ViewData["Desc"] = "Description longue du site";
}
<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/index</small></h1>
        <p>Ceci est le contenu de la vue Home, action Index</p>
    </div>
</div>

<div class="row">
    <a href="/api/poi">API</a>
</div>