﻿@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;

@inject IPointOfInterestRepository _pointOfInterestRepository;
@inject ITownRepository _townRepository;
@model Isen.DotNet.Library.Models.Implementation.Address

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>Address</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Detail">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Text" class="control-label"></label>
				<input asp-for="Text" class="form-control" />
				<span asp-validation-for="Text" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PostalCode" class="control-label"></label>
				<input asp-for="PostalCode" class="form-control" />
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Lattitude" class="control-label"></label>
				<input asp-for="Lattitude" class="form-control" />
				<span asp-validation-for="Lattitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Longitude" class="control-label"></label>
				<input asp-for="Longitude" class="form-control" />
				<span asp-validation-for="Longitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				@Html.DropDownListFor(
				  a => a.TownId,
				  new SelectList(
					  _townRepository.GetAll(),
					  "Id",
					  "Name"),
				  "<Sélectionnez une commune>",
				  new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.DropDownListFor(
				  a => a.PointOfInterestId,
				  new SelectList(
					  _pointOfInterestRepository.GetAll(),
					  "Id",
					  "Name"),
				  "<Sélectionnez un point d'intérêt>",
				  new { @class = "form-control" })
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
