﻿@model IEnumerable<Isen.DotNet.Library.Models.Implementation.Address>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
	<a class="btn btn-default"
	   asp-controller="Address" asp-action="Detail">Ajouter une addresse...</a>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lattitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PointOfInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lattitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointOfInterest.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
