﻿@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;

@inject ICategoryRepository _categoryRepository;
@inject IAddressRepository _addressRepository;
@model Isen.DotNet.Library.Models.Implementation.PointOfInterest

@{
	ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<h4>PointOfInterest</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Detail">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				@Html.DropDownListFor(
						 poi => poi.CategoryId,
						 new SelectList(
							 _categoryRepository.GetAll(),
							 "Id",
							 "Name"),
						 "<Sélectionnez une catégorie>",
						 new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.DropDownListFor(
				  poi => poi.AddressId,
				  new SelectList(
					  _addressRepository.GetAll(),
					  "Id",
					  "Text"),
				  "<Sélectionnez une addresse>",
				  new { @class = "form-control" })
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
