﻿@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;

@inject IDepartementRepository _departementRepository;
@model Isen.DotNet.Library.Models.Implementation.Town

@{
	ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<h4>Town</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Detail">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Lattitude" class="control-label"></label>
				<input asp-for="Lattitude" class="form-control" />
				<span asp-validation-for="Lattitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Longitude" class="control-label"></label>
				<input asp-for="Longitude" class="form-control" />
				<span asp-validation-for="Longitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				@Html.DropDownListFor(
					  t => t.DepartementId,
					  new SelectList(
						  _departementRepository.GetAll(),
						  "Id",
						  "Name"),
					  "<Sélectionnez un Departement>",
					  new { @class = "form-control" })
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
